<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .jumbotron{
            padding: 1.5px;
            margin-bottom:1.5px;
            background-color: rgb(70, 223, 215);
            color: aliceblue;
        }
    </style>
</head>
<body>

    {% include 'navbar.html' %}
    <div class="jumbotron">
        
    </div>
    <div>{% block content %}  {% endblock %} </div>
    
</body>
</html>